# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme
TODO
.DS_STORE
*.swp
*.rbc
*.sass-cache
/pkg
/doc/api
database.db
database.db-journal
.env
.bundle/config
/log/*
