<% if @geolocation == "false" %>
  <p>
    Sorry, we couldn't automatically detect your location. Please pick a stop from the list below.
  </p>
<% end %>

<input type="text" id="search" placeholder="Search..." oninput="filter()">

<ul id="stops">
  <% @stops.sort_by(&:name).each do |stop| %>
    <li data-name="<%= stop.name.downcase %>">
      <a href="/stops/<%= stop.id %>"><%= stop.name %></a>
    </li>
  <% end %>
</ul>

<script>
  function filter(){
    document.querySelector("ul#stops").className = "hidden";

    var all_lis = document.querySelectorAll("li[data-name]");
    for (index in all_lis){
      var li = all_lis[index];
      var match = false;
      try {
        var match = (li.dataset.name.search(new RegExp(document.getElementById('search').value, "i")) != -1);
      } catch(e) {}
      li.className = (match ? "" : "hidden");
    }

    document.querySelector("ul#stops").className = "";
  }
</script>