<div id="loading">
  Finding your location...
  <img src="/images/loading.gif" title="Loading...">
  <a href="/stops">or view all stops</a>
</div>

<form method="POST" id="location_data" action="/nearby">
  <input id="latitude" name="latitude" type="hidden">
  <input id="longitude" name="longitude" type="hidden">
</form>

<script type="text/javascript">
  function initGeolocation(){
    if (navigator.geolocation){
      navigator.geolocation.getCurrentPosition(success, failure);
    } else {
      failure();
    }
  }

  function success(position){
    document.getElementById('latitude').value = position.coords.latitude;
    document.getElementById('longitude').value = position.coords.longitude;
    document.getElementById('location_data').submit();
  }

  function failure(){
    window.location = "/stops?geolocation=false";
  }

  initGeolocation()

  // If we fail to get a coordinate after 10s, redirect
  setTimeout(failure, 10000);
</script>