Pick a stop:

<% if @close_stops.any? %>
  <h2>Very nearby:</h2>
  <ul>
    <% @close_stops.each do |stop| %>
      <li>
        <a href="/stops/<%= stop.id %>"><%= stop.name %></a>
      </li>
    <% end %>
  </ul>

  <h2>More stops:</h2>
<% end %>

<ul>
  <% @stops.sort_by(&:name).each do |stop| %>
    <li>
      <a href="/stops/<%= stop.id %>"><%= stop.name %></a>
    </li>
  <% end %>
</ul>

<a href="/stops">View all stops</a>