/*
#063753
#70aab3
*/

header {
  padding: 5px 10px;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #063753;
}

header.secondary {
  background: #063753;
  color: #fff;
}

header h1, h3{
  margin: 0;
}

header h1{
  font-size: 22px;
  font-weight: bold;
}

header h1 a{
  text-decoration: none;
  color: inherit;
}

header h3{
  font-size: 18px;
  font-weight: bold;
}

header.secondary{
  padding: 5px 10px;
  line-height: 20px;
}

header.secondary a{
  color: #70aab3;
  font-size: 16px;
  font-weight: normal;
}

header img{
  height: 18px;
  width: 60px;
  vertical-align: -1px;
}


main, footer {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

main {
  padding: 25px 15px;
}

main h2:first-child, main p:first-child{
  margin-top: 0;
}

img {
  max-width: 100%;
}

div#loading{
  font-size: 24px;
  color: #999;
  text-align: center;
  padding: 20px 0;
}

div#loading img{
  display: block;
  margin: 15px auto;
}

div#loading a{
  font-size: 16px;
}

.hidden{
  display: none;
}


table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th{
  padding: 10px;
  border: 1px solid #ccc;
}

table th{
  background: #eee;
}

tr.live td.time{
  font-weight: bold;
}

tr.past{
  color: #777;
}

td div.original_schedule{
  font-size: 14px;
  margin-top: 2px;
  color: #999;
}

td a {
  color: #063753;
}

#map {
  height: 400px;
  width: 100%;
}


footer {
  font-size: 14px;
  text-align: center;
  color: #777;
  border-top: 1px solid #eee;
  line-height: 26px;
}

footer img{
  height: 20px;
  min-width: 16px;
  vertical-align: -3px;
}

footer img:first-child{
  width: 20px;
}

footer a {
  color: #063753;
}